{% extends "layout.html" %}

{% block page_title %}
  DWP Design Repository
{% endblock %}

{% block content %}
<div id="big-bar">
  <div class="big-bar-wrapper">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge no-margin">Creating a digital delivery culture</h1>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <p class="hero-description">by Ben Holliday</p>
      </div>
      <div class="column-one-third">
        <a href="mailto:artworkrequest.digitaldwp@gmail.com?Subject=Digital%20delivery%20culture%20poster%20request" class="white-button">Request this poster</a>
      </div>
    </div>
</div>
</div>
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-one-third sticker-list">
      <img class="poster" src="/public/images/posters/creating-a-digital-delivery-culture.png"/>
    </div>

    <div class="column-two-thirds">
      <h3 class="heading-medium">About this poster</h3>
      <p>Digital delivery culture > How we need to work to make this happen. Starting the conversation...</p>
      <h3 class="heading-medium">Printing guidance</h3>
      <p>Below are links to the print ready files. We recommend you have this poster printed in at least A4 size.</p>
      <h3 class="heading-medium">Print files</h3>
      <a class="button" href="/public/images/posters/creating-a-digital-delivery-culture.zip" title="Download file bundle">Download file bundle</a>
    </div>
  </div>
</main>

{% endblock %}
