{% extends "layout.html" %}

{% block page_title %}
  DWP Design Repository
{% endblock %}

{% block content %}
<div id="big-bar">
  <div class="big-bar-wrapper">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge no-margin">Framing the problem</h1>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <p class="hero-description">by Ben Holliday</p>
      </div>
      <div class="column-one-third">
        <a href="#" class="white-button">Request this poster</a>
      </div>
    </div>
</div>
</div>
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-one-third sticker-list">
      <img class="poster" src="/public/images/posters/framing-the-problem.png"/>
    </div>

    <div class="column-two-thirds">
      <h3 class="heading-medium">About this poster</h3>
      <p>Framing the problem should provide the constraint and reasoning behind new features, or be used to guide the prioritisation of any content and design changes. This is my approach. I spend most of my time at the moment asking people 5 questions.</p>
      <h3 class="heading-medium">Printing guidance</h3>
      <p>Below are links to the print ready files. We recommend you have this poster printed in at least A4 size.</p>
      <h3 class="heading-medium">Print files</h3>
      <button class="button" title="Download file bundle">Download file bundle</button>
    </div>
  </div>
</main>

{% endblock %}
