{% extends "layout.html" %}

{% block page_title %}
  DWP Design Repository
{% endblock %}

{% block content %}
<div id="big-bar">
  <div class="big-bar-wrapper">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge no-margin">Litmus test for user needs</h1>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <p class="hero-description">by Paul Smith</p>
      </div>
      <div class="column-one-third">
        <a href="mailto:artworkrequest.digitaldwp@gmail.com?Subject=Litmus%20test%20for%20User%20Needs%20poster%20request" class="white-button">Request this poster</a>
      </div>
    </div>
</div>
</div>
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-one-third sticker-list">
      <img class="poster" src="/public/images/posters/litmus-test-user-needs.png"/>
    </div>

    <div class="column-two-thirds">
      <h3 class="heading-medium">About this poster</h3>
      <p>Understanding user needs enables better service design which results in greater digital take up, higher compliance, more effective policy outcomes, fewer user errors and inaccuracies, reduced failure demand and, overall, makes your service better value and cheaper to run. <a href="https://userresearch.blog.gov.uk/2015/05/28/we-need-to-talk-about-user-needs/">Read the blog post</a>.</p>
      <h3 class="heading-medium">Printing guidance</h3>
      <p>Below are links to the print ready files. We recommend you have this poster printed in at least A4 size.</p>
      <h3 class="heading-medium">Print files</h3>
      <a class="button" href="/public/images/posters/litmus-test-user-needs.zip" title="Download file bundle">Download file bundle</a>
    </div>
  </div>
</main>

{% endblock %}
