// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

$site-width:  1080px;

#global-header .header-wrapper { max-width: 1120px!important; }

#global-header-bar { display: none; }

#big-bar {
  background-color: #005ea5;
  height: auto;
  width: 100%;
  color: white;
}

#big-bar .big-bar-wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 40px 30px;
}

.no-margin { padding-bottom: 0; margin-bottom: 0;}
.no-margin-top { margin-top: 0; }
.margin-top { margin-top: 40px; }
.margin-bottom { margin-bottom: 20px; }


.hero-description {
  font-size: 24px;
  width: 80%;
}

.white-button {
  display: inline-block;
  background: white;
  color: #005ea5;
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 18px;
  line-height: 1.2;
  border-bottom: 3px solid #00487f;
  background-image: url("/public/images/icon-pointer-blue.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding: 15px 50px 10px 20px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 20px;
}

#logo { display: none; }

.dwp-header {
  color: white;
  margin: 0;
  padding: 0;

  a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 28px;
    padding: 0 0 0 20px;

    span { font-weight: normal; font-size: 22px; margin-left: 10px; }
  }

}

.sticker-list { margin-top: 40px; }
.image { width: 100%; border-radius: 50%; }
.image-static { width: 100%; border-radius: 50%; }
.image-static-square { width: 100%; }
.poster { width: 100%; }

.poster:hover {
  -webkit-box-shadow: 0px 3px 0px 0px rgba(49, 50, 50, 0.29);
  -moz-box-shadow:    0px 3px 0px 0px rgba(49, 50, 50, 0.29);
  box-shadow:         0px 3px 0px 0px rgba(49, 50, 50, 0.29);
  cursor: pointer;
}

.image:hover {
  -webkit-box-shadow: 0px 3px 0px 0px rgba(49, 50, 50, 0.29);
  -moz-box-shadow:    0px 3px 0px 0px rgba(49, 50, 50, 0.29);
  box-shadow:         0px 3px 0px 0px rgba(49, 50, 50, 0.29);
  cursor: pointer;
}

#proposition-links {
  float: right;

  li {
      margin-top: 5px;

      a {
      cursor: pointer;
      font-weight: normal;
      }
  }
}
