{% extends "layout.html" %}

{% block page_title %}
  DWP Design Repository
{% endblock %}

{% block content %}
<div id="big-bar">
  <div class="big-bar-wrapper">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge no-margin">Crown</h1>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <p class="hero-description">by Craig Abbott</p>
      </div>
      <div class="column-one-third">
        <a href="mailto:artworkrequest.digitaldwp@gmail.com?Subject=Crown%20sticker%20request" class="white-button">Request this sticker</a>
      </div>
    </div>
</div>
</div>
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-one-third sticker-list">
      <img class="image-static" src="/public/images/stickers/crown-vinyl.png"/>
    </div>

    <div class="column-two-thirds">
      <h3 class="heading-medium">About this sticker</h3>
      <p>The Crown sticker was designed by <a href="#">Craig Abbott</a>. Designed originally to stick over the 'apple' on a macbook, this sticker is die-cut so that the light from the apple shines through the crown when the macbook is open.</p>
      <h3 class="heading-medium">Printing guidance</h3>
      <p>Below are links to the print ready files. We recommend you have this sticker printed with a vinyl finish for best effect.</p>
      <h3 class="heading-medium">Print files</h3>
      <a class="button" href="/public/images/stickers/crown-sticker.zip" title="Download file bundle">Download file bundle</a>
    </div>
  </div>
</main>

{% endblock %}
