{% extends "layout.html" %}

{% block page_title %}
  DWP Design Repository
{% endblock %}

{% block content %}
<div id="big-bar">
  <div class="big-bar-wrapper">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge no-margin">Design Repository</h1>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <p class="hero-description">A collection of stickers, mission patches and posters from DWP Digital.</p>
      </div>
      <div class="column-one-third">
        <a href="#" class="white-button">Request artwork</a>
      </div>
    </div>
</div>
</div>
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-one-third">

      <h2 class="heading-medium">
        <a href="stickers">Stickers</a>
      </h2>
      <p>
        Sticker designs available to download.
      </p>
    </div>
    <div class="column-one-third">
      <h2 class="heading-medium">
        <a href="mission-patches">Mission Patches</a>
      </h2>
      <p>
        Mission patches from around DWP Digital.
      </p>
    </div>
    <div class="column-one-third">
      <h2 class="heading-medium">
        <a href="posters">Posters</a>
      </h2>
      <p>
        Poster designs available to download.
      </p>
    </div>
  </div>
</main>

{% endblock %}
