{% extends "layout.html" %}

{% block page_title %}
  DWP Design Repository
{% endblock %}

{% block content %}
<div id="big-bar">
  <div class="big-bar-wrapper">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge no-margin">Design Repository</h1>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <p class="hero-description">A collection of stickers, mission patches and posters from DWP Digital.</p>
      </div>
      <div class="column-one-third">
        <a href="mailto:artworkrequest.digitaldwp@gmail.com?Subject=Artwork%20request" class="white-button">Request artwork</a>
      </div>
    </div>
</div>
</div>
<main id="content" role="main">

  <div class="grid-row margin-top">
    <div class="column-one-third">
      <a href="stickers"><img class="image-static-square margin-bottom" src="/public/images/badges-group.png"/></a>
      <h2 class="heading-medium no-margin-top text-centre">
        <a href="stickers">Stickers</a>
      </h2>
    </div>
    <div class="column-one-third">
      <a href="mission-patches"><img class="image-static-square margin-bottom" src="/public/images/stickers-group.png"/></a>
      <h2 class="heading-medium no-margin-top text-centre">
        <a href="mission-patches">Mission patches</a>
      </h2>
    </div>
    <div class="column-one-third">
      <a href="posters"><img class="image-static-square margin-bottom" src="/public/images/posters-group.png"/></a>
      <h2 class="heading-medium no-margin-top text-centre">
        <a href="posters">Posters</a>
      </h2>
    </div>
  </div>
</main>

{% endblock %}
