{% extends "layout.html" %}

{% block page_title %}
  DWP Design Repository
{% endblock %}

{% block content %}
<div id="big-bar">
  <div class="big-bar-wrapper">
    <div class="grid-row">
        <div class="column-one-third fl"><h1 class="heading-xlarge no-margin">Stickers</h1></div>
        <div class="column-two-thirds fr"><a href="mailto:artworkrequest.digitaldwp@gmail.com?Subject=Sticker%20request" class="white-button fr">Request a sticker</a></div>
    </div>
</div>
</div>
<main id="content" role="main">

  <div class="grid-row sticker-list">
    <div class="column-quarter column-one-quarter">
      <a href="stickers/dwp-interaction-designer.html"><img class="image" src="/public/images/stickers/dwp-interaction-designer.png"/></a>
    </div>

    <div class="column-one-quarter">
      <a href="stickers/crown.html"><img class="image" src="/public/images/stickers/crown-vinyl.png"/></a>
    </div>

    <div class="column-one-quarter">
      <a href="stickers/dwp-fed.html"><img class="image" src="/public/images/stickers/dwp-frontend.png"/></a>
    </div>

    <div class="column-one-quarter">
      <a href="stickers/dwp-user-researcher.html"><img class="image" src="/public/images/stickers/dwp-user-researcher.png"/></a>
    </div>
  </div>

  <div class="grid-row sticker-list">
    <div class="column-quarter column-one-quarter">
      <a href="stickers/java-coffee.html"><img class="image-static-square" src="/public/images/stickers/Java_coffee.png"/></a>
    </div>

    <div class="column-one-quarter">
      <a href="stickers/software-engineering-conference-2017.html"><img class="image" src="/public/images/stickers/software-engineering-conference-2017.png"/></a>
    </div>

    <div class="column-one-quarter">
      <a href="stickers/keep-going.html"><img class="image" src="/public/images/stickers/keep-going.png"/></a>
    </div>

    <div class="column-one-quarter">
      <a href="stickers/trust-me.html"><img class="image-static-square" src="/public/images/stickers/trust-me.png"/></a>
    </div>
  </div>
</main>

{% endblock %}
